.border{
    border: 1px solid;
    padding: 10px;
}
img{
    width: 300px;
}
.card{
    width: 300px;
}
.horizontal{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.rata{
    text-align: center;
}